<div class="h-screen w-screen bg-gray-800 flex flex-row justify-center items-center">
    <div class="bg-gray-300 text-gray-800 max-w-lg w-4/5 rounded p-4 flex flex-col justify-center items-center">
        <%= image_tag("logo-black.png", class: "max-w-sm") %>
        <h1 class="text-xl font-bold text-gray-900">Login to your account</h1>
    <input type="email" name="email" placeholder="email" id="email" class="mt-4 p-4 rounded w-full">
    <input type="password" name="password" placeholder="password" id="password" class="mt-4 p-4 rounded w-full">
    <button type="submit" class="my-4 p-4 rounded bg-blue-600 text-blue-100 w-full">Login</button>
    <p class="text-blue-500 underline">Forgot password?</p>
    <div class="py-4 w-full flex flex-col items-center justify-center">
        <p>or</p>
        <button class="mt-2 p-4 rounded bg-gray-100 text-gray-600 w-full">github</button>
        <button class="mt-2 p-4 rounded bg-gray-100 text-gray-600 w-full">google</button>
    </div>
    <div class="py-4 flex flex-col items-center justify-center">
        <p class="text-blue-500 underline">Create a new account</p>
        <p class="text-blue-500 underline">Login with demo account (limited functionality)</p>
    </div>
  </div>
</div>
