<div class="h-screen w-screen bg-gray-800 flex flex-row justify-center items-center">
  <div class="bg-gray-300 rounded p-4 ">
    <input type="email" name="email" id="email">
    <input type="password" name="password" id="password">
    <button type="submit">Log In</button>
  </div>
</div>