<h2 class="title">Editing: <%= @story.name %></h2>
<%= render partial: 'errors', locals: {object: @story} %>
<%= form_for(@story, url: sprint_story_path(@sprint, @story), html: { method: :patch }) do |f| %>
<%= render partial: 'form', locals: {f: f} %>
<% end %>