<h2 class="title">Create New Story</h2>
<%= render partial: 'errors', locals: {object: @story} %>
<%= form_for(@story, html: { method: :post }) do |f| %>
<%= render partial: 'form', locals: {f: f} %>
<% end %>