<h2 class="title">Editing: <%= @goal.name %></h2>
<%= render partial: 'errors', locals: {object: @goal} %>
<%= form_for(@goal, html: { method: :patch }) do |f| %>
<%= render partial: 'form', locals: {f: f, sprints: @sprints} %>
<% end %>